
<div>
  <div class="card medium col s12 m2" style="margin: 30px">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{comic.title}}<i class="material-icons right">more_vert</i>
      </span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{comic.title}}<i class="material-icons right">close</i></span>
      <p [innerHTML]="comic.description"></p>
      <p>Page Count: {{comic.pageCount}}</p>
    </div>
    <div class="card-action">
      <a style="color: #b9151b"  [routerLink]="['/comic-detail',comic.id]">Comic Detail</a>
    </div>
  </div>
</div>


